@font-face {
    font-family: 'webfontregular';
    src: url('ptn77f_w-webfont.woff2') format('woff2'),
         url('ptn77f_w-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'webfontregular';
    src: url('pts75f_w-webfont.woff2') format('woff2'),
         url('pts75f_w-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
